*{
margin: 0;
            
}
/* header style start here*/
.header{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(/photos/dot.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 3% 4% ;
    text-align: center;
    border-radius: 15px;
}
.logo{
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
}
.navs>ul>li{
    display: inline-block;
    list-style: none;
    color: white;
    padding: 10px 12px;
}
.navs>ul>li>a{
    color: white;
    text-decoration: none;
}
.navs>ul>li:hover{
    background-color: rgba(180, 33, 33, 0.934);
    border-radius: 12px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}
.welcome{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-40% -25%);
    text-align: center;
    background-color: transparent;

}
.welcome>h1{
    font-size: 30px;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 3%;
    margin-top: 3%;
}
.welcome>p{
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 7%;
    margin-top: 2%;
}
.welcome>a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border:1px solid  blue;
    letter-spacing: 1px;
    font-size: 17px;
    border-radius: 10px 0;
}
.welcome>a:hover{
    background-color:  rgba(180, 33, 33, 0.934);
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 8px;
}
/* header style ends here*/

 /* the company section start here*/
 #boxs-text{
   width: 90%;
   margin: auto;
   box-sizing: border-box;
   

 }
 #boxs-text>h1{
    color:  #2e2222;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 2%;
    letter-spacing: 2px;

 }
 #boxs-text>P{
    color:  #2e2222;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 5%;
 }
 .row{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
 }
 .course-col{
    flex-basis: 40%;
    width: 100%;
    margin-right: 3%;
    background-color: rgba(14, 13, 13, 0.934);
    border: 1px solid rgb(10, 10, 166);
    border-radius: 10px 0;
 }
 .course-col>h3{
    color: white;
    letter-spacing: 2px;
    margin-top: 5%;
    margin-bottom: 4%;
    text-transform: uppercase;
 }
 .course-col>p{
    color: rgb(159, 149, 149);
    letter-spacing: 1px;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
 }
 .course-col:hover{
    box-shadow:  0 0 40px 0px #15365c;
    transition: 0.5s;
 }

  /* the company section ends here*/

  /* the three pictures section start here*/
  .campus{
    width: 50%;
    padding-top: 50x;
    text-align: center;
    margin: auto;
 }
 .campus>h3{
    font-size: 30px;
    letter-spacing: 1px;
    color:  #2e2222;

 }
 .campus>p{
    font-size: 20px;
    letter-spacing: 1px;

 }

 .campus-col{
    flex-basis: 31%;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .campus-col>img{
    width: 100%;
 }
 .layer{
    background-color:transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
    letter-spacing: 1px;
    transition: 0.5s;
 }
 .layer:hover{
    background-color:  rgba(4,9,30,0.7);
 }
 .layer>h3{
    width: 100%;
    font-weight: 500;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position:absolute; 
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 46%;
    opacity: 1;
}


  /* the three pictures section ends here*/


  /* the manager section start here*/
.the-manager{
    width: 90%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}
.manager>h1{
    color:  #2e2222;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 3%;
    letter-spacing: 1px;
    text-align: center;

    
}
.manager>p{
    color:  #2e2222;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 2;
    margin-bottom: 3%   ;
}
.manager>img{
    border-radius: 10px;
}


  /* the manager section ends here*/




  /* the footer section start here*/
  .footer{
    font-size: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgba(14, 13, 13, 0.934);
    border: 2px solid rgb(10, 10, 166);
    border-radius: 5px;
    
  }

  /* the footer section ends here*/